# socnet.txt files

In [1]:
import pandas as pd

In [2]:
# /sfxgroups/NDSSL/pecos/vbi/protopop/USPop2009/all-regions/chicago/Episimdemics/socialnet/socnet.txt.1.{A..J}

In [3]:
# /nbs/
df = pd.read_csv('all_socnet.csv')

In [4]:
df = df.drop('Unnamed: 0', axis = 1)
df[:10]

         id1  acttype1        id2  acttype2  duration
0  441354810         1  441354804         1     27899
1  441354810         1  441354805         1     12600
2  441354820         1  441354819         1     40379
3  441354830         1  441354828         1     28799
4  441354830         1  441354829         1     10800
5  441354850         1  441354844         1     10200
6  441354880         1  441354809         1     24900
7  441354890         1  441354857         1     24599
8  441354900         1  441354805         1     29699
9  441354900         1  441354806         1     28200

In [6]:
df1 = pd.DataFrame(df)

In [9]:
df1[(df1.id1==441354810) & (df1.id2==441354804)]

         id1  acttype1        id2  acttype2  duration
0  441354810         1  441354804         1     27899

In [16]:
# return df where acttype1 = 2 or acttype2 = 5
df1[(df1['acttype1'] == 2) | (df1['acttype2'] == 5)]

                 id1  acttype1        id2  acttype2  duration
38         441355080         5  441354875         5     25800
61         441355160         5  441354874         5     26580
108        441355350         5  441355053         5      8580
112        441355370         5  441355259         5     10920
113        441355370         5  441355282         5      9660
116        441355370         5  441355346         5     14160
126        441355410         5  441354940         5     12000
128        441355410         5  441355203         5     10500
132        441355410         5  441355366         5      9180
133        441355410         5  441355388         5     12900
141        441355440         5  441354942         5      9900
146        441355490         5  441354833         5     23400
149        441355490         5  441355389         5     23760
150        441355490         5  441355395         5     24300
205        441355680         5  441355319         5     24000
206        441355680         5  441355557         5     10800
233        441355790         5  441354875         5     25200
234        441355790         5  441355080         5     27000
240        441355790         5  441355723         5     25500
241        441355790         5  441355762         5     27600
243        441355800         5  441354875         5     26100
244        441355800         5  441355080         5     27600
245        441355800         5  441355723         5     26400
246        441355800         5  441355762         5     27600
247        441355800         5  441355790         5     27900
295        441355910         5  441355599         5     21000
296        441355910         5  441355624         5     14100
319        441355970         5  441355174         5     16200
321        441355970         5  441355382         5     16200
326        441355970         5  441355551         5     16200
...              ...       ...        ...       ...       ...
273526486  628760049         5  444875264         5     15600
273526487  628760049         5  444971982         5     15600
273526488  628760049         5  444982522         5     15300
273526489  628760049         5  445056085         5     15600
273526490  628760049         5  445061323         5     15600
273526491  628760049         5  445133329         5      5400
273526492  628760049         5  445193605         5     15600
273526592  628760069         5  628751406         5     22800
273526593  628760069         5  628751646         5     21300
273526594  628760069         5  628751769         5     22620
273526595  628760069         5  628752363         5     10500
273526596  628760069         5  628752558         5     21000
273526597  628760069         5  628752944         5      3600
273526598  628760069         5  628753232         5     10500
273526599  628760069         5  628753473         5     20100
273526600  628760069         5  628753869         5     21000
273526601  628760069         5  628754221         5     21960
273526602  628760069         5  628754760         5     22800
273526603  628760069         5  628755228         5     23100
273526604  628760069         5  628755334         5     23100
273526605  628760069         5  628755728         5     23100
273526606  628760069         5  628755750         5     23100
273526607  628760069         5  628755878         5     22800
273526608  628760069         5  628756552         5     22200
273526609  628760069         5  628757249         5     18600
273526610  628760069         5  628757254         5     23100
273526611  628760069         5  628757274         5     21900
273526612  628760069         5  628757695         5     23100
273526616  628760069         5  628759100         5     21900
273526620  628760069         5  628759466         5     23100

[61894392 rows x 5 columns]

In [ ]:
#df1.loc[(df1.iloc[:, 1].isin([2, 5])) & (df1.iloc[:, 3].isin([2, 5])), :]

#sub_2_5 = df.loc[(df.iloc[:, 1].isin([2, 5])) | (df.iloc[:, 3].isin([2, 5])), :]
#unique_ids = sub_2_5.iloc[:, [0, 2]].melt()['value'].unique()

#sub_2_5 = df.loc[(df.iloc[:, 1].isin([2, 5])) & (df.iloc[:, 3].isin([2, 5])), :]
#unique_ids = pd.melt(sub_2_5.iloc[:, [0, 2]])['value'].unique()
#unique_ids

#df.columns=['id1', 'acttype1', 'id2', 'acttype2', 'duration']
#smaller = df.loc[(df['acttype1'].isin([2, 5])) & (df['acttype2'].isin([2, 5])), :]
#p1 = smaller[['id1', 'acttype1']].drop_duplicates()
#p2 = smaller[['id2', 'acttype2']].drop_duplicates()
#different = p1[~p1.isin(p2)].dropna()

In [17]:
## subset acttypes 2 and 5
sub_2_5 = df.loc[(df.iloc[:, 1].isin([2, 5])) | (df.iloc[:, 3].isin([2, 5])), :]

In [18]:
sub_2_5

                 id1  acttype1        id2  acttype2  duration
38         441355080         5  441354875         5     25800
61         441355160         5  441354874         5     26580
108        441355350         5  441355053         5      8580
112        441355370         5  441355259         5     10920
113        441355370         5  441355282         5      9660
116        441355370         5  441355346         5     14160
126        441355410         5  441354940         5     12000
128        441355410         5  441355203         5     10500
132        441355410         5  441355366         5      9180
133        441355410         5  441355388         5     12900
141        441355440         5  441354942         5      9900
146        441355490         5  441354833         5     23400
149        441355490         5  441355389         5     23760
150        441355490         5  441355395         5     24300
205        441355680         5  441355319         5     24000
206        441355680         5  441355557         5     10800
233        441355790         5  441354875         5     25200
234        441355790         5  441355080         5     27000
240        441355790         5  441355723         5     25500
241        441355790         5  441355762         5     27600
243        441355800         5  441354875         5     26100
244        441355800         5  441355080         5     27600
245        441355800         5  441355723         5     26400
246        441355800         5  441355762         5     27600
247        441355800         5  441355790         5     27900
295        441355910         5  441355599         5     21000
296        441355910         5  441355624         5     14100
319        441355970         5  441355174         5     16200
321        441355970         5  441355382         5     16200
326        441355970         5  441355551         5     16200
...              ...       ...        ...       ...       ...
273526486  628760049         5  444875264         5     15600
273526487  628760049         5  444971982         5     15600
273526488  628760049         5  444982522         5     15300
273526489  628760049         5  445056085         5     15600
273526490  628760049         5  445061323         5     15600
273526491  628760049         5  445133329         5      5400
273526492  628760049         5  445193605         5     15600
273526592  628760069         5  628751406         5     22800
273526593  628760069         5  628751646         5     21300
273526594  628760069         5  628751769         5     22620
273526595  628760069         5  628752363         5     10500
273526596  628760069         5  628752558         5     21000
273526597  628760069         5  628752944         5      3600
273526598  628760069         5  628753232         5     10500
273526599  628760069         5  628753473         5     20100
273526600  628760069         5  628753869         5     21000
273526601  628760069         5  628754221         5     21960
273526602  628760069         5  628754760         5     22800
273526603  628760069         5  628755228         5     23100
273526604  628760069         5  628755334         5     23100
273526605  628760069         5  628755728         5     23100
273526606  628760069         5  628755750         5     23100
273526607  628760069         5  628755878         5     22800
273526608  628760069         5  628756552         5     22200
273526609  628760069         5  628757249         5     18600
273526610  628760069         5  628757254         5     23100
273526611  628760069         5  628757274         5     21900
273526612  628760069         5  628757695         5     23100
273526616  628760069         5  628759100         5     21900
273526620  628760069         5  628759466         5     23100

[61894392 rows x 5 columns]

In [19]:
p1 = sub_2_5[['id1', 'acttype1']]
p2 = sub_2_5[['id2', 'acttype2']]

p1.columns = ['v1', 'v2']
p2.columns = ['v1', 'v2']

l = pd.concat([p1, p2])
c = l.groupby(['v1'])['v2'].unique().reset_index()

In [20]:
c['v3'] = c['v2'].str.len()
d = c.loc[c['v3'] >= 2, :]

In [21]:
d

                v1      v2  v3
10       441354817  [5, 2]   2
42       441354919  [5, 2]   2
160      441355175  [2, 5]   2
179      441355233  [5, 2]   2
192      441355266  [5, 2]   2
225      441355328  [5, 2]   2
233      441355345  [2, 5]   2
260      441355390  [5, 2]   2
275      441355419  [5, 2]   2
320      441355535  [5, 2]   2
326      441355548  [5, 2]   2
352      441355592  [5, 2]   2
368      441355622  [5, 2]   2
369      441355623  [5, 2]   2
408      441355694  [5, 2]   2
427      441355737  [5, 2]   2
474      441355820  [5, 2]   2
497      441355875  [5, 2]   2
523      441355927  [5, 2]   2
535      441355952  [5, 2]   2
545      441355971  [5, 2]   2
590      441356059  [5, 2]   2
647      441356188  [5, 2]   2
658      441356210  [5, 2]   2
675      441356240  [5, 2]   2
684      441356264  [5, 2]   2
699      441356298  [5, 2]   2
757      441356405  [5, 2]   2
768      441356425  [5, 2]   2
919      441356709  [5, 2]   2
...            ...     ...  ..
4555584  628757665  [2, 5]   2
4555604  628757705  [2, 5]   2
4555650  628757796  [2, 5]   2
4555680  628757855  [2, 5]   2
4555698  628757882  [2, 5]   2
4555699  628757883  [5, 2]   2
4555736  628757965  [2, 5]   2
4555848  628758166  [2, 5]   2
4555849  628758167  [5, 2]   2
4555895  628758260  [5, 2]   2
4555969  628758406  [5, 2]   2
4556026  628758528  [2, 5]   2
4556103  628758677  [2, 5]   2
4556135  628758733  [5, 2]   2
4556147  628758752  [5, 2]   2
4556148  628758755  [5, 2]   2
4556168  628758803  [5, 2]   2
4556177  628758820  [5, 2]   2
4556287  628759071  [5, 2]   2
4556304  628759093  [5, 2]   2
4556305  628759094  [5, 2]   2
4556332  628759163  [5, 2]   2
4556408  628759299  [5, 2]   2
4556468  628759396  [2, 5]   2
4556493  628759449  [2, 5]   2
4556515  628759502  [5, 2]   2
4556530  628759547  [5, 2]   2
4556584  628759660  [5, 2]   2
4556603  628759702  [2, 5]   2
4556792  628760046  [5, 2]   2

[116374 rows x 3 columns]

In [23]:
# save
#d.to_csv("socnet_out.csv")
#d.to_csv("../../../sfxhome/gkang/tlc_data/socnet_out.csv")

In [30]:
# check
df1[(df1['id2'] == 441354817) | (df1['id2'] == 441354817)]

                 id1  acttype1        id2  acttype2  duration
4714       441360380         5  441354817         5     19740
1918202    442738570         5  441354817         5     34740
1920767    442739220         2  441354817         2      4020
27362961   441358411         5  441354817         5     25140
27369852   441365191         5  441354817         5      4200
27370493   441365551         5  441354817         5     12300
54693056   441358242         5  441354817         5      8400
54700558   441365612         5  441354817         5      1740
82032834   441356803         5  441354817         5     26940
82032899   441356893         5  441354817         5     23640
82051246   441374833         5  441354817         5     24240
109389641  441358904         5  441354817         5     23940
109395512  441364574         5  441354817         5     12600
136717219  441358615         5  441354817         5     25140
136718015  441359535         5  441354817         5      7200
136723260  441365015         5  441354817         5     26940
136877250  441428545         2  441354817         2      8100
164099469  441354946         1  441354817         1     37499
164099536  441355236         1  441354817         1     28199
164099549  441355266         5  441354817         5      7200
164105409  441361716         5  441354817         5     27300
166011774  442735606         5  441354817         5     26040
218809876  441360478         5  441354817         5     26040
218821668  441372848         2  441354817         2      4500
218882934  441403978         2  441354817         2      6300
246207591  441383299         2  441354817         2      8100