In [1]:
import csv
import itertools
import pandas as pd

In [2]:
# merge all socnet files as dataframe
# how many id's have acttype = 2 AND 5?

# /sfxgroups/NDSSL/pecos/vbi/protopop/USPop2009/all-regions/chicago/Episimdemics/socialnet/socnet.txt.1.{A..J}
df = pd.read_csv("../../../sfxhome/gkang/tlc_data/socnet.txt.1.J", sep = " ")
df.columns = ['id1', 'acttype1', 'id2', 'acttype2', 'duration']
df

                id1  acttype1        id2  acttype2  duration
0         441354799         1  441354798         1     13500
1         441354829         1  441354827         1     33659
2         441354849         1  441354848         1     63599
3         441354859         1  441354858         1     35999
4         441354869         1  441354805         1     11400
5         441354869         1  441354810         1      6900
6         441354889         1  441354857         1     12000
7         441354899         1  441354805         1     26399
8         441354899         1  441354807         1     26399
9         441354899         1  441354898         1     26399
10        441354909         1  441354802         1      3420
11        441354909         4  441354836         4      1320
12        441354909         1  441354880         1     25199
13        441354909         1  441354908         1       300
14        441354919         1  441354917         1     28199
15        441354919         1  441354918         1     28199
16        441354929         1  441354903         1     14400
17        441354929         1  441354928         1         1
18        441354939         1  441354938         1     37499
19        441354949         3  441354901         3      1500
20        441354969         1  441354964         1     25199
21        441354969         1  441354965         1     24299
22        441354969         1  441354968         1     25199
23        441354979         1  441354870         1     42659
24        441354979         1  441354871         1     20999
25        441354989         1  441354874         1       300
26        441355009         1  441354825         1     27899
27        441355009         1  441354826         1      7500
28        441355049         1  441354858         1     26399
29        441355049         1  441354859         1     26399
...             ...       ...        ...       ...       ...
27352801  628760069         5  628752363         5     10500
27352802  628760069         5  628752558         5     21000
27352803  628760069         5  628752944         5      3600
27352804  628760069         5  628753232         5     10500
27352805  628760069         5  628753473         5     20100
27352806  628760069         5  628753869         5     21000
27352807  628760069         5  628754221         5     21960
27352808  628760069         5  628754760         5     22800
27352809  628760069         5  628755228         5     23100
27352810  628760069         5  628755334         5     23100
27352811  628760069         5  628755728         5     23100
27352812  628760069         5  628755750         5     23100
27352813  628760069         5  628755878         5     22800
27352814  628760069         5  628756552         5     22200
27352815  628760069         5  628757249         5     18600
27352816  628760069         5  628757254         5     23100
27352817  628760069         5  628757274         5     21900
27352818  628760069         5  628757695         5     23100
27352819  628760069         1  628758412         1     31499
27352820  628760069         1  628758545         1     36239
27352821  628760069         1  628758988         1     14400
27352822  628760069         5  628759100         5     21900
27352823  628760069         1  628759267         1     30300
27352824  628760069         1  628759268         1      5400
27352825  628760069         1  628759405         1     12360
27352826  628760069         5  628759466         5     23100
27352827  628760069         1  628760068         1       180
27352828  628760079         1  628758742         1     39599
27352829  628760079         1  628759746         1     27899
27352830  628760079         1  628760077         1     39599

[27352831 rows x 5 columns]

---

In [3]:
df_a = pd.DataFrame(df)
df_a

                id1  acttype1        id2  acttype2  duration
0         441354799         1  441354798         1     13500
1         441354829         1  441354827         1     33659
2         441354849         1  441354848         1     63599
3         441354859         1  441354858         1     35999
4         441354869         1  441354805         1     11400
5         441354869         1  441354810         1      6900
6         441354889         1  441354857         1     12000
7         441354899         1  441354805         1     26399
8         441354899         1  441354807         1     26399
9         441354899         1  441354898         1     26399
10        441354909         1  441354802         1      3420
11        441354909         4  441354836         4      1320
12        441354909         1  441354880         1     25199
13        441354909         1  441354908         1       300
14        441354919         1  441354917         1     28199
15        441354919         1  441354918         1     28199
16        441354929         1  441354903         1     14400
17        441354929         1  441354928         1         1
18        441354939         1  441354938         1     37499
19        441354949         3  441354901         3      1500
20        441354969         1  441354964         1     25199
21        441354969         1  441354965         1     24299
22        441354969         1  441354968         1     25199
23        441354979         1  441354870         1     42659
24        441354979         1  441354871         1     20999
25        441354989         1  441354874         1       300
26        441355009         1  441354825         1     27899
27        441355009         1  441354826         1      7500
28        441355049         1  441354858         1     26399
29        441355049         1  441354859         1     26399
...             ...       ...        ...       ...       ...
27352801  628760069         5  628752363         5     10500
27352802  628760069         5  628752558         5     21000
27352803  628760069         5  628752944         5      3600
27352804  628760069         5  628753232         5     10500
27352805  628760069         5  628753473         5     20100
27352806  628760069         5  628753869         5     21000
27352807  628760069         5  628754221         5     21960
27352808  628760069         5  628754760         5     22800
27352809  628760069         5  628755228         5     23100
27352810  628760069         5  628755334         5     23100
27352811  628760069         5  628755728         5     23100
27352812  628760069         5  628755750         5     23100
27352813  628760069         5  628755878         5     22800
27352814  628760069         5  628756552         5     22200
27352815  628760069         5  628757249         5     18600
27352816  628760069         5  628757254         5     23100
27352817  628760069         5  628757274         5     21900
27352818  628760069         5  628757695         5     23100
27352819  628760069         1  628758412         1     31499
27352820  628760069         1  628758545         1     36239
27352821  628760069         1  628758988         1     14400
27352822  628760069         5  628759100         5     21900
27352823  628760069         1  628759267         1     30300
27352824  628760069         1  628759268         1      5400
27352825  628760069         1  628759405         1     12360
27352826  628760069         5  628759466         5     23100
27352827  628760069         1  628760068         1       180
27352828  628760079         1  628758742         1     39599
27352829  628760079         1  628759746         1     27899
27352830  628760079         1  628760077         1     39599

[27352831 rows x 5 columns]

In [4]:
# 3237777 rows
df_a[df_a['acttype1'] == 2]

                id1  acttype1        id2  acttype2  duration
56        441355179         2  441354975         2      5520
1899      441357999         2  441357415         2      7500
1980      441358159         2  441356417         2     20760
2722      441358879         2  441356262         2     40500
2994      441359189         2  441356268         2     29700
3289      441359459         2  441358745         2     12600
3717      441359769         2  441354931         2      4800
4688      441360419         2  441357751         2     14100
4698      441360419         2  441359657         2     21900
5606      441360939         2  441359771         2     21900
5939      441361189         2  441358461         2     22500
6003      441361309         2  441360447         2      3300
6047      441361399         2  441358268         2     34500
6091      441361489         2  441358120         2      8100
6093      441361489         2  441361306         2     13500
6240      441361599         2  441357751         2      9540
6241      441361599         2  441359657         2      9540
6243      441361599         2  441360419         2       300
6276      441361669         2  441358461         2     21900
6277      441361669         2  441361189         2     17100
6366      441361779         2  441360709         2      3660
6544      441361979         2  441354928         2     10500
6654      441362119         2  441361411         2      9600
6701      441362209         2  441362188         2      9600
6713      441362239         2  441358472         2     14160
6770      441362329         2  441362215         2      9000
7066      441362649         2  441355414         2       600
7067      441362649         2  441357490         2     25800
7068      441362649         2  441358005         2     28800
7069      441362649         2  441360671         2      6300
...             ...       ...        ...       ...       ...
27352600  628760039         2  444415969         2     26100
27352601  628760039         2  444425330         2     30900
27352602  628760039         2  444550321         2     27120
27352603  628760039         2  444822421         2     32400
27352604  628760039         2  444936610         2        60
27352605  628760039         2  444970817         2       900
27352606  628760039         2  445004712         2      5100
27352607  628760039         2  445052604         2     27900
27352608  628760039         2  445381928         2     30600
27352609  628760039         2  445412978         2     27600
27352610  628760039         2  445499497         2     31200
27352611  628760039         2  445544047         2     30600
27352612  628760039         2  445673172         2     30600
27352613  628760039         2  446949209         2     14700
27352614  628760039         2  447468795         2      4860
27352615  628760039         2  447497136         2      1860
27352616  628760039         2  447749208         2      9900
27352617  628760039         2  447763487         2     18600
27352618  628760039         2  447848639         2       900
27352619  628760039         2  447856948         2     26100
27352620  628760039         2  447917277         2     28500
27352621  628760039         2  448265668         2     14700
27352622  628760039         2  448305357         2     16200
27352623  628760039         2  448965436         2      5400
27352624  628760039         2  449231087         2     32400
27352625  628760039         2  449562393         2     22800
27352626  628760039         2  450030562         2     28500
27352627  628760039         2  450162167         2     20100
27352628  628760039         2  628684222         2     26880
27352629  628760039         2  628755792         2      6300

[3237778 rows x 5 columns]

In [6]:
# 2947569 rows
df_a[df_a['acttype1'] == 5]

                id1  acttype1        id2  acttype2  duration
96        441355349         5  441354899         5     25080
105       441355389         5  441354833         5     25080
154       441355659         5  441354898         5     23100
155       441355659         5  441355458         5     20100
156       441355659         5  441355496         5     12000
157       441355659         5  441355566         5     23100
164       441355679         5  441355329         5     25080
177       441355709         5  441355124         5     21900
229       441355819         5  441355789         5     17700
293       441355989         5  441355361         5     28500
294       441355989         5  441355457         5     19500
296       441355989         5  441355686         5     19800
297       441355989         5  441355966         5     28500
299       441355999         5  441355052         5     20100
300       441355999         5  441355292         5     24600
302       441355999         5  441355542         5     24600
307       441355999         5  441355818         5     20100
308       441355999         5  441355832         5     12000
311       441356009         5  441355259         5     10920
312       441356009         5  441355282         5      9660
313       441356009         5  441355346         5      9480
314       441356009         5  441355370         5     18000
316       441356009         5  441355874         5     13500
317       441356009         5  441355967         5         0
348       441356059         5  441356024         5         0
430       441356199         5  441354873         5     24900
431       441356199         5  441355028         5     25800
432       441356199         5  441355074         5     25500
433       441356199         5  441355598         5     24900
434       441356199         5  441355811         5     23700
...             ...       ...        ...       ...       ...
27352692  628760049         5  444875264         5     15600
27352693  628760049         5  444971982         5     15600
27352694  628760049         5  444982522         5     15300
27352695  628760049         5  445056085         5     15600
27352696  628760049         5  445061323         5     15600
27352697  628760049         5  445133329         5      5400
27352698  628760049         5  445193605         5     15600
27352798  628760069         5  628751406         5     22800
27352799  628760069         5  628751646         5     21300
27352800  628760069         5  628751769         5     22620
27352801  628760069         5  628752363         5     10500
27352802  628760069         5  628752558         5     21000
27352803  628760069         5  628752944         5      3600
27352804  628760069         5  628753232         5     10500
27352805  628760069         5  628753473         5     20100
27352806  628760069         5  628753869         5     21000
27352807  628760069         5  628754221         5     21960
27352808  628760069         5  628754760         5     22800
27352809  628760069         5  628755228         5     23100
27352810  628760069         5  628755334         5     23100
27352811  628760069         5  628755728         5     23100
27352812  628760069         5  628755750         5     23100
27352813  628760069         5  628755878         5     22800
27352814  628760069         5  628756552         5     22200
27352815  628760069         5  628757249         5     18600
27352816  628760069         5  628757254         5     23100
27352817  628760069         5  628757274         5     21900
27352818  628760069         5  628757695         5     23100
27352822  628760069         5  628759100         5     21900
27352826  628760069         5  628759466         5     23100

[2947570 rows x 5 columns]

In [13]:
# equals 2 and 5???
df_a[(df_a['acttype1'] == 2) | (df_a['acttype1'] == 5)]

                id1  acttype1        id2  acttype2  duration
56        441355179         2  441354975         2      5520
96        441355349         5  441354899         5     25080
105       441355389         5  441354833         5     25080
154       441355659         5  441354898         5     23100
155       441355659         5  441355458         5     20100
156       441355659         5  441355496         5     12000
157       441355659         5  441355566         5     23100
164       441355679         5  441355329         5     25080
177       441355709         5  441355124         5     21900
229       441355819         5  441355789         5     17700
293       441355989         5  441355361         5     28500
294       441355989         5  441355457         5     19500
296       441355989         5  441355686         5     19800
297       441355989         5  441355966         5     28500
299       441355999         5  441355052         5     20100
300       441355999         5  441355292         5     24600
302       441355999         5  441355542         5     24600
307       441355999         5  441355818         5     20100
308       441355999         5  441355832         5     12000
311       441356009         5  441355259         5     10920
312       441356009         5  441355282         5      9660
313       441356009         5  441355346         5      9480
314       441356009         5  441355370         5     18000
316       441356009         5  441355874         5     13500
317       441356009         5  441355967         5         0
348       441356059         5  441356024         5         0
430       441356199         5  441354873         5     24900
431       441356199         5  441355028         5     25800
432       441356199         5  441355074         5     25500
433       441356199         5  441355598         5     24900
...             ...       ...        ...       ...       ...
27352692  628760049         5  444875264         5     15600
27352693  628760049         5  444971982         5     15600
27352694  628760049         5  444982522         5     15300
27352695  628760049         5  445056085         5     15600
27352696  628760049         5  445061323         5     15600
27352697  628760049         5  445133329         5      5400
27352698  628760049         5  445193605         5     15600
27352798  628760069         5  628751406         5     22800
27352799  628760069         5  628751646         5     21300
27352800  628760069         5  628751769         5     22620
27352801  628760069         5  628752363         5     10500
27352802  628760069         5  628752558         5     21000
27352803  628760069         5  628752944         5      3600
27352804  628760069         5  628753232         5     10500
27352805  628760069         5  628753473         5     20100
27352806  628760069         5  628753869         5     21000
27352807  628760069         5  628754221         5     21960
27352808  628760069         5  628754760         5     22800
27352809  628760069         5  628755228         5     23100
27352810  628760069         5  628755334         5     23100
27352811  628760069         5  628755728         5     23100
27352812  628760069         5  628755750         5     23100
27352813  628760069         5  628755878         5     22800
27352814  628760069         5  628756552         5     22200
27352815  628760069         5  628757249         5     18600
27352816  628760069         5  628757254         5     23100
27352817  628760069         5  628757274         5     21900
27352818  628760069         5  628757695         5     23100
27352822  628760069         5  628759100         5     21900
27352826  628760069         5  628759466         5     23100

[6185348 rows x 5 columns]

In [7]:
2947569 + 6185348

9132917

In [41]:
df_a.groupby('acttype1')['id1'].nunique()

acttype1
1    667702
2    237229
3    359704
4    590255
5    201274
Name: id1, dtype: int64

In [15]:
df_a.groupby('acttype1')['id1'].value_counts()

acttype1  id1
1         449163249    25
          446962019    23
          448111139    22
          442535479    21
          446858639    21
          448196539    21
          449684119    21
          443475049    20
          445253999    20
          446034409    20
          442237719    19
          443300179    19
          443341779    19
          445768919    19
          447104829    19
          447748669    19
          448302509    19
          448673209    19
          448854259    19
          449043099    19
          449119689    19
          449424729    19
          449571129    19
          449732179    19
          442628089    18
          442795469    18
          442984069    18
          443809209    18
          445311289    18
          445312419    18
                       ..
5         628657209     1
          628658799     1
          628661489     1
          628661699     1
          628666929     1
          628668589     1
          628669159     1
          628674099     1
          628676749     1
          628677389     1
          628680269     1
          628683619     1
          628697189     1
          628702299     1
          628715479     1
          628723569     1
          628723659     1
          628725339     1
          628725359     1
          628725479     1
          628726119     1
          628726929     1
          628729989     1
          628730459     1
          628732129     1
          628732539     1
          628733929     1
          628734169     1
          628740949     1
          628752059     1
Name: id1, dtype: int64

In [107]:
df2 = df_a.groupby(['id1', 'acttype1'])['acttype1'].count()
df2

id1        acttype1
441354799  1            1
441354829  1            1
441354849  1            1
441354859  1            1
441354869  1            2
441354889  1            1
441354899  1            3
441354909  1            3
           4            1
441354919  1            2
441354929  1            2
441354939  1            1
441354949  3            1
441354969  1            3
441354979  1            2
441354989  1            1
441355009  1            2
441355049  1            2
441355059  1            4
441355079  1            4
441355089  1            3
441355099  1            2
           3            1
441355109  1            1
441355119  4            2
441355129  1            2
441355149  1            2
441355159  1            1
441355169  1            1
441355179  1            3
                       ..
628759959  3            5
           4           10
628759969  3           58
628759979  1            3
           2           40
           3            3
           4           29
628759989  3            6
           4           19
628759999  1            1
           3           46
           4           12
628760009  1            2
           2           23
           4           20
628760019  2            2
628760029  1            6
           4            7
628760039  1            1
           2           39
628760049  1            6
           3           32
           4           17
           5           27
628760059  1            8
           3           24
           4           53
628760069  1            7
           5           23
628760079  1            3
Name: acttype1, dtype: int64

In [108]:
df2 = pd.DataFrame(df2)
df2

                    acttype1
id1       acttype1
441354799 1                1
441354829 1                1
441354849 1                1
441354859 1                1
441354869 1                2
441354889 1                1
441354899 1                3
441354909 1                3
          4                1
441354919 1                2
441354929 1                2
441354939 1                1
441354949 3                1
441354969 1                3
441354979 1                2
441354989 1                1
441355009 1                2
441355049 1                2
441355059 1                4
441355079 1                4
441355089 1                3
441355099 1                2
          3                1
441355109 1                1
441355119 4                2
441355129 1                2
441355149 1                2
441355159 1                1
441355169 1                1
441355179 1                3
...                      ...
628759959 3                5
          4               10
628759969 3               58
628759979 1                3
          2               40
          3                3
          4               29
628759989 3                6
          4               19
628759999 1                1
          3               46
          4               12
628760009 1                2
          2               23
          4               20
628760019 2                2
628760029 1                6
          4                7
628760039 1                1
          2               39
628760049 1                6
          3               32
          4               17
          5               27
628760059 1                8
          3               24
          4               53
628760069 1                7
          5               23
628760079 1                3

[2056164 rows x 1 columns]

In [103]:
df

KeyError: 'cannot index a multi-index axis with these keys'

---

In [17]:
## counting short code
count = 0
for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()
    id, acttype, id, acttype, duration = line.split(" ")
    if acttype == "2":
        count = count + 1
print(count)

3225175

In [32]:
## counting long code
count = 0
for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()
    parts = line.split(" ")
    id = parts[0]
    acttype = parts[1]
    id = parts[2]
    acttype = parts[3]
    duration = parts[4]
    if acttype == "2":
        count = count + 1
print(count)

0

In [ ]:
## function to count acttypes
def count_acttype(x):
    count = 0
    for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()

In [42]:
# open file
f = open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A")

---