In [39]:
import csv
import itertools
import pandas as pd

In [81]:
# merge all socnet files as dataframe
# how many id's have acttype = 2 AND 5?

# /sfxgroups/NDSSL/pecos/vbi/protopop/USPop2009/all-regions/chicago/Episimdemics/socialnet/socnet.txt.1.{A..J}
df = pd.read_csv("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A", sep = " ")
df.columns = ['id1', 'acttype1', 'id2', 'acttype2', 'duration']
df

                id1  acttype1        id2  acttype2  duration
0         441354810         1  441354804         1     27899
1         441354810         1  441354805         1     12600
2         441354820         1  441354819         1     40379
3         441354830         1  441354828         1     28799
4         441354830         1  441354829         1     10800
5         441354850         1  441354844         1     10200
6         441354880         1  441354809         1     24900
7         441354890         1  441354857         1     24599
8         441354900         1  441354805         1     29699
9         441354900         1  441354806         1     28200
10        441354900         1  441354807         1     27299
11        441354900         1  441354898         1     29999
12        441354900         1  441354899         1     26399
13        441354910         1  441354838         1     26399
14        441354920         1  441354888         1     37619
15        441354940         1  441354938         1     50399
16        441354940         1  441354939         1     39899
17        441354950         1  441354949         1     51599
18        441354980         1  441354870         1     21660
19        441354980         1  441354979         1     21660
20        441354990         1  441354873         1     26999
21        441354990         1  441354989         1     30000
22        441355000         4  441354881         4      2400
23        441355000         1  441354999         1     60599
24        441355010         1  441354825         1     35399
25        441355010         1  441355009         1     39599
26        441355020         3  441354901         3      2100
27        441355020         1  441355019         1     25199
28        441355040         1  441355039         1     78539
29        441355050         1  441354856         1     17700
...             ...       ...        ...       ...       ...
27360670  628760080         4  442697812         4       300
27360671  628760080         4  442698167         4       300
27360672  628760080         4  442699905         4       300
27360673  628760080         4  442700711         4      2700
27360674  628760080         3  442701985         3      1500
27360675  628760080         4  442702008         4       300
27360676  628760080         4  442702075         4       300
27360677  628760080         4  442703071         4       300
27360678  628760080         4  442705243         4       300
27360679  628760080         4  442706530         4       300
27360680  628760080         4  442736259         4      3600
27360681  628760080         4  444372699         4      2520
27360682  628760080         3  444419566         3       600
27360683  628760080         4  444557402         4     12600
27360684  628760080         4  444557412         4       300
27360685  628760080         3  444561270         3      1500
27360686  628760080         4  444565872         4      5400
27360687  628760080         4  444587768         4      3600
27360688  628760080         4  444628088         4       300
27360689  628760080         4  444733222         4     10800
27360690  628760080         3  444779330         3       600
27360691  628760080         3  444806383         3      1500
27360692  628760080         4  444808012         4      9000
27360693  628760080         3  444810664         3       300
27360694  628760080         4  444811088         4      5400
27360695  628760080         4  444818292         4     10800
27360696  628760080         4  444826575         4      3300
27360697  628760080         4  444855285         4      4800
27360698  628760080         4  628752096         4       300
27360699  628760080         3  628757041         3       600

[27360700 rows x 5 columns]

---

In [90]:
df_a = pd.DataFrame(df)
df_a

                id1  acttype1        id2  acttype2  duration
0         441354810         1  441354804         1     27899
1         441354810         1  441354805         1     12600
2         441354820         1  441354819         1     40379
3         441354830         1  441354828         1     28799
4         441354830         1  441354829         1     10800
5         441354850         1  441354844         1     10200
6         441354880         1  441354809         1     24900
7         441354890         1  441354857         1     24599
8         441354900         1  441354805         1     29699
9         441354900         1  441354806         1     28200
10        441354900         1  441354807         1     27299
11        441354900         1  441354898         1     29999
12        441354900         1  441354899         1     26399
13        441354910         1  441354838         1     26399
14        441354920         1  441354888         1     37619
15        441354940         1  441354938         1     50399
16        441354940         1  441354939         1     39899
17        441354950         1  441354949         1     51599
18        441354980         1  441354870         1     21660
19        441354980         1  441354979         1     21660
20        441354990         1  441354873         1     26999
21        441354990         1  441354989         1     30000
22        441355000         4  441354881         4      2400
23        441355000         1  441354999         1     60599
24        441355010         1  441354825         1     35399
25        441355010         1  441355009         1     39599
26        441355020         3  441354901         3      2100
27        441355020         1  441355019         1     25199
28        441355040         1  441355039         1     78539
29        441355050         1  441354856         1     17700
...             ...       ...        ...       ...       ...
27360670  628760080         4  442697812         4       300
27360671  628760080         4  442698167         4       300
27360672  628760080         4  442699905         4       300
27360673  628760080         4  442700711         4      2700
27360674  628760080         3  442701985         3      1500
27360675  628760080         4  442702008         4       300
27360676  628760080         4  442702075         4       300
27360677  628760080         4  442703071         4       300
27360678  628760080         4  442705243         4       300
27360679  628760080         4  442706530         4       300
27360680  628760080         4  442736259         4      3600
27360681  628760080         4  444372699         4      2520
27360682  628760080         3  444419566         3       600
27360683  628760080         4  444557402         4     12600
27360684  628760080         4  444557412         4       300
27360685  628760080         3  444561270         3      1500
27360686  628760080         4  444565872         4      5400
27360687  628760080         4  444587768         4      3600
27360688  628760080         4  444628088         4       300
27360689  628760080         4  444733222         4     10800
27360690  628760080         3  444779330         3       600
27360691  628760080         3  444806383         3      1500
27360692  628760080         4  444808012         4      9000
27360693  628760080         3  444810664         3       300
27360694  628760080         4  444811088         4      5400
27360695  628760080         4  444818292         4     10800
27360696  628760080         4  444826575         4      3300
27360697  628760080         4  444855285         4      4800
27360698  628760080         4  628752096         4       300
27360699  628760080         3  628757041         3       600

[27360700 rows x 5 columns]

In [120]:
df_a[df_a['acttype1'] == 2]

                id1  acttype1        id2  acttype2  duration
1134      441356920         2  441356825         2     11280
2379      441358180         2  441358103         2     27300
3102      441359020         2  441359019         2     27300
3149      441359070         2  441354963         2      3600
3753      441359600         2  441357810         2     14100
4029      441359810         2  441356520         2     24600
4451      441360130         2  441357717         2     26100
4462      441360150         2  441355871         2     23100
4463      441360150         2  441359496         2     24300
5559      441360880         2  441359964         2     12900
5700      441361030         2  441359339         2      8400
6252      441361620         2  441359827         2      5520
6267      441361670         2  441358277         2     22500
6601      441361960         2  441361624         2     14400
6602      441361960         2  441361882         2      4500
6609      441361990         2  441360154         2     16500
6610      441361990         2  441361264         2      5700
6615      441361990         2  441361613         2      5100
6690      441362080         2  441355839         2     12900
6717      441362130         2  441361921         2     16500
6870      441362200         2  441361499         2     31200
7150      441362600         2  441361738         2     35700
7371      441362960         2  441362348         2      9300
7382      441362990         2  441356385         2       600
7424      441363050         2  441357495         2       900
7505      441363170         2  441354963         2     13800
7506      441363170         2  441362068         2      2700
7536      441363230         2  441362330         2     25680
7571      441363270         2  441360161         2     12600
7572      441363270         2  441362976         2     22800
...             ...       ...        ...       ...       ...
27360281  628759970         2  444751285         2     32100
27360282  628759970         2  444893118         2     12300
27360283  628759970         2  445169227         2     22200
27360284  628759970         2  445440928         2      5700
27360285  628759970         2  445464527         2     27000
27360286  628759970         2  445472155         2      2940
27360287  628759970         2  445556545         2      4500
27360288  628759970         2  445608094         2     13080
27360289  628759970         2  445639405         2     15900
27360290  628759970         2  445682219         2     27600
27360291  628759970         2  445867969         2     26100
27360292  628759970         2  445911669         2      7200
27360293  628759970         2  445964046         2     32100
27360294  628759970         2  446220396         2     29700
27360295  628759970         2  446846716         2     27000
27360296  628759970         2  447438002         2      6600
27360297  628759970         2  447574714         2      4800
27360298  628759970         2  447624292         2     11880
27360299  628759970         2  447690135         2     32100
27360300  628759970         2  447900873         2     29100
27360301  628759970         2  448305458         2     21900
27360302  628759970         2  448796161         2      1800
27360303  628759970         2  449548714         2     27300
27360304  628759970         2  450422797         2      5700
27360498  628760040         2  441983441         2      6600
27360499  628760040         2  442243939         2     13200
27360500  628760040         2  444731566         2      6000
27360501  628760040         2  446598940         2     13200
27360502  628760040         2  447800690         2     13200
27360503  628760040         2  448074544         2      1200

[3225175 rows x 5 columns]

In [122]:
# equals 2 and 5???
df_a[(df_a['acttype1'] == 2) | (df_a['acttype2'] == 5)]

                id1  acttype1        id2  acttype2  duration
38        441355080         5  441354875         5     25800
61        441355160         5  441354874         5     26580
108       441355350         5  441355053         5      8580
112       441355370         5  441355259         5     10920
113       441355370         5  441355282         5      9660
116       441355370         5  441355346         5     14160
126       441355410         5  441354940         5     12000
128       441355410         5  441355203         5     10500
132       441355410         5  441355366         5      9180
133       441355410         5  441355388         5     12900
141       441355440         5  441354942         5      9900
146       441355490         5  441354833         5     23400
149       441355490         5  441355389         5     23760
150       441355490         5  441355395         5     24300
205       441355680         5  441355319         5     24000
206       441355680         5  441355557         5     10800
233       441355790         5  441354875         5     25200
234       441355790         5  441355080         5     27000
240       441355790         5  441355723         5     25500
241       441355790         5  441355762         5     27600
243       441355800         5  441354875         5     26100
244       441355800         5  441355080         5     27600
245       441355800         5  441355723         5     26400
246       441355800         5  441355762         5     27600
247       441355800         5  441355790         5     27900
295       441355910         5  441355599         5     21000
296       441355910         5  441355624         5     14100
319       441355970         5  441355174         5     16200
321       441355970         5  441355382         5     16200
326       441355970         5  441355551         5     16200
...             ...       ...        ...       ...       ...
27360547  628760070         5  628734366         5     24300
27360548  628760070         5  628751496         5     23340
27360549  628760070         5  628751610         5     22800
27360550  628760070         5  628751820         5     22740
27360551  628760070         5  628751991         5     23820
27360552  628760070         5  628752007         5     23700
27360553  628760070         5  628752267         5     19800
27360554  628760070         5  628752384         5     19320
27360555  628760070         5  628752410         5     21600
27360556  628760070         5  628752486         5     22380
27360557  628760070         5  628752622         5     23100
27360558  628760070         5  628752797         5     23700
27360559  628760070         5  628752875         5     22500
27360560  628760070         5  628753756         5     23400
27360561  628760070         5  628754149         5     23400
27360562  628760070         5  628754291         5     23700
27360563  628760070         5  628754322         5     20400
27360564  628760070         5  628754654         5     24180
27360565  628760070         5  628755430         5     23700
27360566  628760070         5  628755445         5     18900
27360567  628760070         5  628756718         5     23700
27360568  628760070         5  628756936         5     16260
27360569  628760070         5  628756947         5     24300
27360570  628760070         5  628757314         5     22500
27360571  628760070         5  628757806         5     10800
27360572  628760070         5  628757821         5     22620
27360573  628760070         5  628757940         5     24120
27360576  628760070         5  628759290         5     22440
27360577  628760070         5  628759598         5     21000
27360578  628760070         5  628759720         5     22020

[6182121 rows x 5 columns]

---

In [17]:
## counting short code
count = 0
for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()
    id, acttype, id, acttype, duration = line.split(" ")
    if acttype == "2":
        count = count + 1
print(count)

3225175

In [32]:
## counting long code
count = 0
for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()
    parts = line.split(" ")
    id = parts[0]
    acttype = parts[1]
    id = parts[2]
    acttype = parts[3]
    duration = parts[4]
    if acttype == "2":
        count = count + 1
print(count)

0

In [ ]:
## function to count acttypes
def count_acttype(x):
    count = 0
    for line in open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A"):
    line = line.strip()

In [42]:
# open file
f = open("../../../sfxhome/gkang/tlc_data/socnet.txt.1.A")

---