In [1]:
import pandas as pd

In [2]:
from collections import OrderedDict
friend_roomate = pd.DataFrame(
    OrderedDict({
    'id1': ['glo', 'dan', 'billy', 'dan', 'glo', 'james', 'mer', 'ben', 'ben'],
    'acttype1': ['f', 'f', 'f', 'f', 'r', 'f', 'f', 'f', 'r'],
    'id2': ['dan', 'billy', 'glo', 'trey', 'john', 'alex', 'james', 'glo', 'glo'],
    'acttype2': ['f', 'f', 'r', 'f', 'r', 'f', 'f', 'f', 'r']
}))

print(friend_roomate)

p1 = friend_roomate[['id1', 'acttype1']]
p2 = friend_roomate[['id2', 'acttype2']]

p1.columns = ['v1', 'v2']
p2.columns = ['v1', 'v2']

In [3]:
l = pd.concat([p1, p2])
c = l.groupby(['v1'])['v2'].unique().str.len().reset_index()
c.loc[c['v2'] >= 2, :]

    v1  v2
1  ben   2
4  glo   2

In [4]:
l = pd.concat([p1, p2])
c = l.groupby(['v1'])['v2'].unique().reset_index()

c['v3'] = c['v2'].str.len()
c.loc[c['v3'] >= 2, :]

    v1      v2  v3
1  ben  [f, r]   2
4  glo  [f, r]   2

In [10]:
d = c.loc[c['v3'] >= 2, :]

In [11]:
d

    v1      v2  v3
1  ben  [f, r]   2
4  glo  [f, r]   2

In [ ]:
# dan's examples

In [ ]:
from collections import OrderedDict
friend_roomate = pd.DataFrame(
    OrderedDict({
    'id1': ['glo', 'dan', 'billy', 'dan', 'glo', 'james', 'mer'],
    'acttype1': ['f', 'f', 'f', 'f', 'r', 'f', 'f'],
    'id2': ['dan', 'billy', 'glo', 'trey', 'john', 'alex', 'james'],
    'acttype2': ['f', 'f', 'r', 'f', 'r', 'f', 'f']
}))

print(friend_roomate)

p1 = friend_roomate[['id1', 'acttype1']]
p2 = friend_roomate[['id2', 'acttype2']]

different = p1[~p1.isin(p2)].dropna()
different['id1'].unique()

In [ ]:
from collections import OrderedDict
friend_roomate = pd.DataFrame(
    OrderedDict({
    'id1': ['glo', 'dan', 'billy', 'dan', 'glo', 'james', 'mer', 'ben', 'ben'],
    'acttype1': ['f', 'f', 'f', 'f', 'r', 'f', 'f', 'f', 'r'],
    'id2': ['dan', 'billy', 'glo', 'trey', 'john', 'alex', 'james', 'glo', 'glo'],
    'acttype2': ['f', 'f', 'r', 'f', 'r', 'f', 'f', 'f', 'r']
}))

print(friend_roomate)

p1 = friend_roomate[['id1', 'acttype1']]
p2 = friend_roomate[['id2', 'acttype2']]

p1.columns = ['v1', 'v2']
p2.columns = ['v1', 'v2']

l = pd.concat([p1, p2])
c = l.groupby(['v1'])['v2'].unique().str.len().reset_index()
c.loc[c['v2'] >= 2, :]

In [ ]:
l = pd.concat([p1, p2])
c = l.groupby(['v1'])['v2'].unique().reset_index()

c['v3'] = c['v2'].str.len()

c.loc[c['v3'] >= 2, :]